IDR_VERSION VERSIONINFO
FILEVERSION 0,0,0,2
PRODUCTVERSION 0,0,0,2
FILEOS 0x00000004
FILETYPE 0x00000004
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "00000000"
    BEGIN
      VALUE "Author", "sYk0\0"
      VALUE "Company", "\0"
      VALUE "FileVersion", "0.0.0.2\0"
      VALUE "FileDescription", "Cliffs of Dover Hook Loader\0"
      VALUE "InternalName", "CloDer\0"
      VALUE "LegalCopyright", "Copyright © 2012 sYk0\0"
      VALUE "OriginalFilename", "CloDer.exe\0"
      VALUE "ProductName", "CloD Loader\0"
      VALUE "ProductVersion", "0.0.0.2\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0000 0x0000
  END
END





